<div class='nav nav-admin'>
  <span class='nav_admin title'>TestGuru Admin</span>

  <div class='nav_admin user'>
    Добро пожаловать, <b class='nav_admin user-email'><%= current_user.first_name %></b>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
   </div>
 </div>

