<div class='nav nav-admin'>
  <span class='nav_admin title'>TestGuru Admin</span>

  <div class='nav_admin user'>
    <%= t('.welcome')%> <b class='nav_admin user-email'><%= current_user.name %></b>
      <%= link_to t('.back'), destroy_user_session_path, method: :delete %>
   </div>
 </div>

