<footer>
  <p>Год: <%= current_year %></p>
  <p>Автор: Мадина Абдуразакова</p>
  <p><%= github_url('MadinaAbd', 'Test-Guru') %></p>
  <p>Приложение Test Guru.</p>
  <p>Учебный проект в онлайн-школе <a target="_blank" href="https://thinknetica.com/">Thinknetica</a></p>
</footer>
